.nav-link {
  color: #333; /* Text color */
  font-size: 16px; /* Font size */
  font-weight: 500; /* Font weight */
  padding: 10px 15px; /* Padding */
  border-radius: 5px; /* Border radius */
  transition: background-color 0.3s ease; /* Smooth transition */
  height: 10;
}

.nav-link:hover {
  background-color: #f0f0f0; /* Background color on hover */
  color: #555; /* Text color on hover */
}
