<div class="main-wrapper account-wrapper">
  <div class="account-page">
<div class="account-center">
          <div class="account-box">
              <form class="form-signin"  #addform="ngForm" (ngSubmit)="forgotpassword(addform)">
      <div class="account-logo">
                      <a href="index-2.html"><img src="/assets/admin/img/logo-dark.png" alt=""></a>
                  </div>
                  <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                  </div>
                  <div class="form-group">
                      <label>Introduce tu correo electrónico</label>
                      <input type="text" class="form-control" autofocus name="email" ngModel>
                  </div>
                  <div class="form-group text-center">
                      <button class="btn btn-primary account-btn" type="submit">Restablecer la contraseña</button>
                  </div>
                  <div class="text-center register-link">
                      <a routerLink="/login">Atrás para iniciar sesión</a>
                  </div>
              </form>
          </div>
</div>
  </div>
</div>
